
#b1tapa1 {
	background-image: url("../fotos/libros/catalogo-tapa-1.jpg");
	background-size: cover;
}

#b1tapa2 {
	background-image: url("../fotos/libros/catalogo-tapa-2.jpg");
	background-size: cover;
}

#b1tapa3 {
	background-image: url("../fotos/libros/catalogo-tapa-3.jpg");
	background-size: cover;
}

#b1tapa4 {
	background-image: url("../fotos/libros/catalogo-tapa-4.jpg");
	background-size: cover;
}


#cata0p1 {
	background-image: url("../fotos/libros/catalogo-0-1.jpg");
	background-size: cover;
}

#cata0p2 {
	background-image: url("../fotos/libros/catalogo-0-2.jpg");
	background-size: cover;
}

#cata0p3 {
	background-image: url("../fotos/libros/catalogo-0-3.jpg");
	background-size: cover;
}

#cata0p4 {
	background-image: url("../fotos/libros/catalogo-0-4.jpg");
	background-size: cover;
}


#cata1p1 {
	background-image: url("../fotos/libros/catalogo-1-01.jpg");
	background-size: cover;
}

#cata1p2 {
	background-image: url("../fotos/libros/catalogo-1-02.jpg");
	background-size: cover;
}

#cata1p3 {
	background-image: url("../fotos/libros/catalogo-1-03.jpg");
	background-size: cover;
}

#cata1p4 {
	background-image: url("../fotos/libros/catalogo-1-04.jpg");
	background-size: cover;
}

#cata1p5 {
	background-image: url("../fotos/libros/catalogo-1-05.jpg");
	background-size: cover;
}

#cata1p6 {
	background-image: url("../fotos/libros/catalogo-1-06.jpg");
	background-size: cover;
}

#cata1p7 {
	background-image: url("../fotos/libros/catalogo-1-07.jpg");
	background-size: cover;
}

#cata1p8 {
	background-image: url("../fotos/libros/catalogo-1-08.jpg");
	background-size: cover;
}

#cata1p9 {
	background-image: url("../fotos/libros/catalogo-1-09.jpg");
	background-size: cover;
}

#cata1p10 {
	background-image: url("../fotos/libros/catalogo-1-10.jpg");
	background-size: cover;
}

#cata1p11 {
	background-image: url("../fotos/libros/catalogo-1-11.jpg");
	background-size: cover;
}

#cata1p12 {
	background-image: url("../fotos/libros/catalogo-1-12.jpg");
	background-size: cover;
}

#cata1p13 {
	background-image: url("../fotos/libros/catalogo-1-13.jpg");
	background-size: cover;
}

#cata1p14 {
	background-image: url("../fotos/libros/catalogo-1-14.jpg");
	background-size: cover;
}

#cata1p15 {
	background-image: url("../fotos/libros/catalogo-1-15.jpg");
	background-size: cover;
}

#cata1p16 {
	background-image: url("../fotos/libros/catalogo-1-16.jpg");
	background-size: cover;
}

#cata1p17 {
	background-image: url("../fotos/libros/catalogo-1-17.jpg");
	background-size: cover;
}

#cata1p18 {
	background-image: url("../fotos/libros/catalogo-1-18.jpg");
	background-size: cover;
}

#cata1p19 {
	background-image: url("../fotos/libros/catalogo-1-19.jpg");
	background-size: cover;
}

#cata1p20 {
	background-image: url("../fotos/libros/catalogo-1-20.jpg");
	background-size: cover;
}

#cata1p21 {
	background-image: url("../fotos/libros/catalogo-1-21.jpg");
	background-size: cover;
}

#cata1p22 {
	background-image: url("../fotos/libros/catalogo-1-22.jpg");
	background-size: cover;
}

#cata1p23 {
	background-image: url("../fotos/libros/catalogo-1-23.jpg");
	background-size: cover;
}

#cata1p24 {
	background-image: url("../fotos/libros/catalogo-1-24.jpg");
	background-size: cover;
}

#cata1p25 {
	background-image: url("../fotos/libros/catalogo-1-25.jpg");
	background-size: cover;
}

#cata1p26 {
	background-image: url("../fotos/libros/catalogo-1-26.jpg");
	background-size: cover;
}

#cata1p27 {
	background-image: url("../fotos/libros/catalogo-1-27.jpg");
	background-size: cover;
}

#cata1p28 {
	background-image: url("../fotos/libros/catalogo-1-28.jpg");
	background-size: cover;
}

#cata1p29 {
	background-image: url("../fotos/libros/catalogo-1-29.jpg");
	background-size: cover;
}

#cata1p30 {
	background-image: url("../fotos/libros/catalogo-1-30.jpg");
	background-size: cover;
}

#cata1p31 {
	background-image: url("../fotos/libros/catalogo-1-31.jpg");
	background-size: cover;
}

#cata1p32 {
	background-image: url("../fotos/libros/catalogo-1-32.jpg");
	background-size: cover;
}

#cata1p33 {
	background-image: url("../fotos/libros/catalogo-1-33.jpg");
	background-size: cover;
}


#cata2p1 {
	background-image: url("../fotos/libros/catalogo-2-1.jpg");
	background-size: cover;
}

#cata2p2 {
	background-image: url("../fotos/libros/catalogo-2-2.jpg");
	background-size: cover;
}

#cata2p3 {
	background-image: url("../fotos/libros/catalogo-2-3.jpg");
	background-size: cover;
}

#cata2p4 {
	background-image: url("../fotos/libros/catalogo-2-4.jpg");
	background-size: cover;
}

#cata2p5 {
	background-image: url("../fotos/libros/catalogo-2-5.jpg");
	background-size: cover;
}

#cata2p6 {
	background-image: url("../fotos/libros/catalogo-2-6.jpg");
	background-size: cover;
}


#cata3p1 {
	background-image: url("../fotos/libros/catalogo-3-1.jpg");
	background-size: cover;
}

#cata3p2 {
	background-image: url("../fotos/libros/catalogo-3-2.jpg");
	background-size: cover;
}

#cata3p3 {
	background-image: url("../fotos/libros/catalogo-3-3.jpg");
	background-size: cover;
}

#cata3p4 {
	background-image: url("../fotos/libros/catalogo-3-4.jpg");
	background-size: cover;
}

#cata3p5 {
	background-image: url("../fotos/libros/catalogo-3-5.jpg");
	background-size: cover;
}

#cata3p6 {
	background-image: url("../fotos/libros/catalogo-3-6.jpg");
	background-size: cover;
}


#cata4p1 {
	background-image: url("../fotos/libros/catalogo-4-1.jpg");
	background-size: cover;
}

#cata4p2 {
	background-image: url("../fotos/libros/catalogo-4-2.jpg");
	background-size: cover;
}

#cata4p3 {
	background-image: url("../fotos/libros/catalogo-4-3.jpg");
	background-size: cover;
}

#cata4p4 {
	background-image: url("../fotos/libros/catalogo-4-4.jpg");
	background-size: cover;
}

#cata4p5 {
	background-image: url("../fotos/libros/catalogo-4-5.jpg");
	background-size: cover;
}

#cata4p6 {
	background-image: url("../fotos/libros/catalogo-4-6.jpg");
	background-size: cover;
}


#cata5p1 {
	background-image: url("../fotos/libros/catalogo-5-1.jpg");
	background-size: cover;
}

#cata5p2 {
	background-image: url("../fotos/libros/catalogo-5-2.jpg");
	background-size: cover;
}

#cata5p3 {
	background-image: url("../fotos/libros/catalogo-5-3.jpg");
	background-size: cover;
}

#cata5p4 {
	background-image: url("../fotos/libros/catalogo-5-4.jpg");
	background-size: cover;
}

#cata5p5 {
	background-image: url("../fotos/libros/catalogo-5-5.jpg");
	background-size: cover;
}

#cata5p6 {
	background-image: url("../fotos/libros/catalogo-5-6.jpg");
	background-size: cover;
}



#cata6p1 {
	background-image: url("../fotos/libros/catalogo-6-1.jpg");
	background-size: cover;
}

#cata6p2 {
	background-image: url("../fotos/libros/catalogo-6-2.jpg");
	background-size: cover;
}

#cata6p3 {
	background-image: url("../fotos/libros/catalogo-6-3.jpg");
	background-size: cover;
}

#cata6p4 {
	background-image: url("../fotos/libros/catalogo-6-4.jpg");
	background-size: cover;
}

#cata6p5 {
	background-image: url("../fotos/libros/catalogo-6-5.jpg");
	background-size: cover;
}

#cata6p6 {
	background-image: url("../fotos/libros/catalogo-6-6.jpg");
	background-size: cover;
}

#cata6p7 {
	background-image: url("../fotos/libros/catalogo-6-7.jpg");
	background-size: cover;
}

#cata6p8 {
	background-image: url("../fotos/libros/catalogo-6-8.jpg");
	background-size: cover;
}


#cata7p1 {
	background-image: url("../fotos/libros/catalogo-7-1.jpg");
	background-size: cover;
}

#cata7p2 {
	background-image: url("../fotos/libros/catalogo-7-2.jpg");
	background-size: cover;
}

#cata7p3 {
	background-image: url("../fotos/libros/catalogo-7-3.jpg");
	background-size: cover;
}




