




.webp #b1tapa1 {
	background-image: url("../fotos/libros/catalogo/catalogo-tapa-1.webp");
	background-size: cover;
}

.webp #b1tapa2 {
	background-image: url("../fotos/libros/catalogo/catalogo-tapa-2.webp");
	background-size: cover;
}

.webp #b1tapa3 {
	background-image: url("../fotos/libros/catalogo/catalogo-tapa-3.webp");
	background-size: cover;
}

.webp #b1tapa4 {
	background-image: url("../fotos/libros/catalogo/catalogo-tapa-4.webp");
	background-size: cover;
}


.webp #cata0p1 {
	background-image: url("../fotos/libros/catalogo/catalogo-0-1.webp");
	background-size: cover;
}

.webp #cata0p2 {
	background-image: url("../fotos/libros/catalogo/catalogo-0-2.webp");
	background-size: cover;
}

.webp #cata0p3 {
	background-image: url("../fotos/libros/catalogo/catalogo-0-3.webp");
	background-size: cover;
}

.webp #cata0p4 {
	background-image: url("../fotos/libros/catalogo/catalogo-0-4.webp");
	background-size: cover;
}


.webp #cata1p1 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-01.webp");
	background-size: cover;
}

.webp #cata1p2 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-02.webp");
	background-size: cover;
}

.webp #cata1p3 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-03.webp");
	background-size: cover;
}

.webp #cata1p4 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-04.webp");
	background-size: cover;
}

.webp #cata1p5 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-05.webp");
	background-size: cover;
}

.webp #cata1p6 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-06.webp");
	background-size: cover;
}

.webp #cata1p7 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-07.webp");
	background-size: cover;
}

.webp #cata1p8 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-08.webp");
	background-size: cover;
}

.webp #cata1p9 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-09.webp");
	background-size: cover;
}

.webp #cata1p10 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-10.webp");
	background-size: cover;
}

.webp #cata1p11 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-11.webp");
	background-size: cover;
}

.webp #cata1p12 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-12.webp");
	background-size: cover;
}

.webp #cata1p13 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-13.webp");
	background-size: cover;
}

.webp #cata1p14 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-14.webp");
	background-size: cover;
}

.webp #cata1p15 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-15.webp");
	background-size: cover;
}

.webp #cata1p16 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-16.webp");
	background-size: cover;
}

.webp #cata1p17 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-17.webp");
	background-size: cover;
}

.webp #cata1p18 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-18.webp");
	background-size: cover;
}

.webp #cata1p19 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-19.webp");
	background-size: cover;
}

.webp #cata1p20 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-20.webp");
	background-size: cover;
}

.webp #cata1p21 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-21.webp");
	background-size: cover;
}

.webp #cata1p22 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-22.webp");
	background-size: cover;
}

.webp #cata1p23 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-23.webp");
	background-size: cover;
}

.webp #cata1p24 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-24.webp");
	background-size: cover;
}

.webp #cata1p25 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-25.webp");
	background-size: cover;
}

.webp #cata1p26 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-26.webp");
	background-size: cover;
}

.webp #cata1p27 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-27.webp");
	background-size: cover;
}

.webp #cata1p28 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-28.webp");
	background-size: cover;
}

.webp #cata1p29 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-29.webp");
	background-size: cover;
}

.webp #cata1p30 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-30.webp");
	background-size: cover;
}

.webp #cata1p31 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-31.webp");
	background-size: cover;
}

.webp #cata1p32 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-32.webp");
	background-size: cover;
}

.webp #cata1p33 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-33.webp");
	background-size: cover;
}


.webp #cata2p1 {
	background-image: url("../fotos/libros/catalogo/catalogo-2-1.webp");
	background-size: cover;
}

.webp #cata2p2 {
	background-image: url("../fotos/libros/catalogo/catalogo-2-2.webp");
	background-size: cover;
}

.webp #cata2p3 {
	background-image: url("../fotos/libros/catalogo/catalogo-2-3.webp");
	background-size: cover;
}

.webp #cata2p4 {
	background-image: url("../fotos/libros/catalogo/catalogo-2-4.webp");
	background-size: cover;
}

.webp #cata2p5 {
	background-image: url("../fotos/libros/catalogo/catalogo-2-5.webp");
	background-size: cover;
}

.webp #cata2p6 {
	background-image: url("../fotos/libros/catalogo/catalogo-2-6.webp");
	background-size: cover;
}


.webp #cata3p1 {
	background-image: url("../fotos/libros/catalogo/catalogo-3-1.webp");
	background-size: cover;
}

.webp #cata3p2 {
	background-image: url("../fotos/libros/catalogo/catalogo-3-2.webp");
	background-size: cover;
}

.webp #cata3p3 {
	background-image: url("../fotos/libros/catalogo/catalogo-3-3.webp");
	background-size: cover;
}

.webp #cata3p4 {
	background-image: url("../fotos/libros/catalogo/catalogo-3-4.webp");
	background-size: cover;
}

.webp #cata3p5 {
	background-image: url("../fotos/libros/catalogo/catalogo-3-5.webp");
	background-size: cover;
}

.webp #cata3p6 {
	background-image: url("../fotos/libros/catalogo/catalogo-3-6.webp");
	background-size: cover;
}


.webp #cata4p1 {
	background-image: url("../fotos/libros/catalogo/catalogo-4-1.webp");
	background-size: cover;
}

.webp #cata4p2 {
	background-image: url("../fotos/libros/catalogo/catalogo-4-2.webp");
	background-size: cover;
}

.webp #cata4p3 {
	background-image: url("../fotos/libros/catalogo/catalogo-4-3.webp");
	background-size: cover;
}

.webp #cata4p4 {
	background-image: url("../fotos/libros/catalogo/catalogo-4-4.webp");
	background-size: cover;
}

.webp #cata4p5 {
	background-image: url("../fotos/libros/catalogo/catalogo-4-5.webp");
	background-size: cover;
}

.webp #cata4p6 {
	background-image: url("../fotos/libros/catalogo/catalogo-4-6.webp");
	background-size: cover;
}


.webp #cata5p1 {
	background-image: url("../fotos/libros/catalogo/catalogo-5-1.webp");
	background-size: cover;
}

.webp #cata5p2 {
	background-image: url("../fotos/libros/catalogo/catalogo-5-2.webp");
	background-size: cover;
}

.webp #cata5p3 {
	background-image: url("../fotos/libros/catalogo/catalogo-5-3.webp");
	background-size: cover;
}

.webp #cata5p4 {
	background-image: url("../fotos/libros/catalogo/catalogo-5-4.webp");
	background-size: cover;
}

.webp #cata5p5 {
	background-image: url("../fotos/libros/catalogo/catalogo-5-5.webp");
	background-size: cover;
}

.webp #cata5p6 {
	background-image: url("../fotos/libros/catalogo/catalogo-5-6.webp");
	background-size: cover;
}



.webp #cata6p1 {
	background-image: url("../fotos/libros/catalogo/catalogo-6-1.webp");
	background-size: cover;
}

.webp #cata6p2 {
	background-image: url("../fotos/libros/catalogo/catalogo-6-2.webp");
	background-size: cover;
}

.webp #cata6p3 {
	background-image: url("../fotos/libros/catalogo/catalogo-6-3.webp");
	background-size: cover;
}

.webp #cata6p4 {
	background-image: url("../fotos/libros/catalogo/catalogo-6-4.webp");
	background-size: cover;
}

.webp #cata6p5 {
	background-image: url("../fotos/libros/catalogo/catalogo-6-5.webp");
	background-size: cover;
}

.webp #cata6p6 {
	background-image: url("../fotos/libros/catalogo/catalogo-6-6.webp");
	background-size: cover;
}

.webp #cata6p7 {
	background-image: url("../fotos/libros/catalogo/catalogo-6-7.webp");
	background-size: cover;
}

.webp #cata6p8 {
	background-image: url("../fotos/libros/catalogo/catalogo-6-8.webp");
	background-size: cover;
}


.webp #cata7p1 {
	background-image: url("../fotos/libros/catalogo/catalogo-7-1.webp");
	background-size: cover;
}

.webp #cata7p2 {
	background-image: url("../fotos/libros/catalogo/catalogo-7-2.webp");
	background-size: cover;
}

.webp #cata7p3 {
	background-image: url("../fotos/libros/catalogo/catalogo-7-3.webp");
	background-size: cover;
}


.no-webp #b1tapa1 {
	background-image: url("../fotos/libros/catalogo/catalogo-tapa-1.jpg");
	background-size: cover;
}

.no-webp #b1tapa2 {
	background-image: url("../fotos/libros/catalogo/catalogo-tapa-2.jpg");
	background-size: cover;
}

.no-webp #b1tapa3 {
	background-image: url("../fotos/libros/catalogo/catalogo-tapa-3.jpg");
	background-size: cover;
}

.no-webp #b1tapa4 {
	background-image: url("../fotos/libros/catalogo/catalogo-tapa-4.jpg");
	background-size: cover;
}


.no-webp #cata0p1 {
	background-image: url("../fotos/libros/catalogo/catalogo-0-1.jpg");
	background-size: cover;
}

.no-webp #cata0p2 {
	background-image: url("../fotos/libros/catalogo/catalogo-0-2.jpg");
	background-size: cover;
}

.no-webp #cata0p3 {
	background-image: url("../fotos/libros/catalogo/catalogo-0-3.jpg");
	background-size: cover;
}

.no-webp #cata0p4 {
	background-image: url("../fotos/libros/catalogo/catalogo-0-4.jpg");
	background-size: cover;
}


.no-webp #cata1p1 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-01.jpg");
	background-size: cover;
}

.no-webp #cata1p2 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-02.jpg");
	background-size: cover;
}

.no-webp #cata1p3 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-03.jpg");
	background-size: cover;
}

.no-webp #cata1p4 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-04.jpg");
	background-size: cover;
}

.no-webp #cata1p5 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-05.jpg");
	background-size: cover;
}

.no-webp #cata1p6 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-06.jpg");
	background-size: cover;
}

.no-webp #cata1p7 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-07.jpg");
	background-size: cover;
}

.no-webp #cata1p8 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-08.jpg");
	background-size: cover;
}

.no-webp #cata1p9 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-09.jpg");
	background-size: cover;
}

.no-webp #cata1p10 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-10.jpg");
	background-size: cover;
}

.no-webp #cata1p11 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-11.jpg");
	background-size: cover;
}

.no-webp #cata1p12 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-12.jpg");
	background-size: cover;
}

.no-webp #cata1p13 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-13.jpg");
	background-size: cover;
}

.no-webp #cata1p14 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-14.jpg");
	background-size: cover;
}

.no-webp #cata1p15 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-15.jpg");
	background-size: cover;
}

.no-webp #cata1p16 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-16.jpg");
	background-size: cover;
}

.no-webp #cata1p17 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-17.jpg");
	background-size: cover;
}

.no-webp #cata1p18 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-18.jpg");
	background-size: cover;
}

.no-webp #cata1p19 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-19.jpg");
	background-size: cover;
}

.no-webp #cata1p20 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-20.jpg");
	background-size: cover;
}

.no-webp #cata1p21 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-21.jpg");
	background-size: cover;
}

.no-webp #cata1p22 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-22.jpg");
	background-size: cover;
}

.no-webp #cata1p23 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-23.jpg");
	background-size: cover;
}

.no-webp #cata1p24 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-24.jpg");
	background-size: cover;
}

.no-webp #cata1p25 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-25.jpg");
	background-size: cover;
}

.no-webp #cata1p26 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-26.jpg");
	background-size: cover;
}

.no-webp #cata1p27 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-27.jpg");
	background-size: cover;
}

.no-webp #cata1p28 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-28.jpg");
	background-size: cover;
}

.no-webp #cata1p29 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-29.jpg");
	background-size: cover;
}

.no-webp #cata1p30 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-30.jpg");
	background-size: cover;
}

.no-webp #cata1p31 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-31.jpg");
	background-size: cover;
}

.no-webp #cata1p32 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-32.jpg");
	background-size: cover;
}

.no-webp #cata1p33 {
	background-image: url("../fotos/libros/catalogo/catalogo-1-33.jpg");
	background-size: cover;
}


.no-webp #cata2p1 {
	background-image: url("../fotos/libros/catalogo/catalogo-2-1.jpg");
	background-size: cover;
}

.no-webp #cata2p2 {
	background-image: url("../fotos/libros/catalogo/catalogo-2-2.jpg");
	background-size: cover;
}

.no-webp #cata2p3 {
	background-image: url("../fotos/libros/catalogo/catalogo-2-3.jpg");
	background-size: cover;
}

.no-webp #cata2p4 {
	background-image: url("../fotos/libros/catalogo/catalogo-2-4.jpg");
	background-size: cover;
}

.no-webp #cata2p5 {
	background-image: url("../fotos/libros/catalogo/catalogo-2-5.jpg");
	background-size: cover;
}

.no-webp #cata2p6 {
	background-image: url("../fotos/libros/catalogo/catalogo-2-6.jpg");
	background-size: cover;
}


.no-webp #cata3p1 {
	background-image: url("../fotos/libros/catalogo/catalogo-3-1.jpg");
	background-size: cover;
}

.no-webp #cata3p2 {
	background-image: url("../fotos/libros/catalogo/catalogo-3-2.jpg");
	background-size: cover;
}

.no-webp #cata3p3 {
	background-image: url("../fotos/libros/catalogo/catalogo-3-3.jpg");
	background-size: cover;
}

.no-webp #cata3p4 {
	background-image: url("../fotos/libros/catalogo/catalogo-3-4.jpg");
	background-size: cover;
}

.no-webp #cata3p5 {
	background-image: url("../fotos/libros/catalogo/catalogo-3-5.jpg");
	background-size: cover;
}

.no-webp #cata3p6 {
	background-image: url("../fotos/libros/catalogo/catalogo-3-6.jpg");
	background-size: cover;
}


.no-webp #cata4p1 {
	background-image: url("../fotos/libros/catalogo/catalogo-4-1.jpg");
	background-size: cover;
}

.no-webp #cata4p2 {
	background-image: url("../fotos/libros/catalogo/catalogo-4-2.jpg");
	background-size: cover;
}

.no-webp #cata4p3 {
	background-image: url("../fotos/libros/catalogo/catalogo-4-3.jpg");
	background-size: cover;
}

.no-webp #cata4p4 {
	background-image: url("../fotos/libros/catalogo/catalogo-4-4.jpg");
	background-size: cover;
}

.no-webp #cata4p5 {
	background-image: url("../fotos/libros/catalogo/catalogo-4-5.jpg");
	background-size: cover;
}

.no-webp #cata4p6 {
	background-image: url("../fotos/libros/catalogo/catalogo-4-6.jpg");
	background-size: cover;
}


.no-webp #cata5p1 {
	background-image: url("../fotos/libros/catalogo/catalogo-5-1.jpg");
	background-size: cover;
}

.no-webp #cata5p2 {
	background-image: url("../fotos/libros/catalogo/catalogo-5-2.jpg");
	background-size: cover;
}

.no-webp #cata5p3 {
	background-image: url("../fotos/libros/catalogo/catalogo-5-3.jpg");
	background-size: cover;
}

.no-webp #cata5p4 {
	background-image: url("../fotos/libros/catalogo/catalogo-5-4.jpg");
	background-size: cover;
}

.no-webp #cata5p5 {
	background-image: url("../fotos/libros/catalogo/catalogo-5-5.jpg");
	background-size: cover;
}

.no-webp #cata5p6 {
	background-image: url("../fotos/libros/catalogo/catalogo-5-6.jpg");
	background-size: cover;
}



.no-webp #cata6p1 {
	background-image: url("../fotos/libros/catalogo/catalogo-6-1.jpg");
	background-size: cover;
}

.no-webp #cata6p2 {
	background-image: url("../fotos/libros/catalogo/catalogo-6-2.jpg");
	background-size: cover;
}

.no-webp #cata6p3 {
	background-image: url("../fotos/libros/catalogo/catalogo-6-3.jpg");
	background-size: cover;
}

.no-webp #cata6p4 {
	background-image: url("../fotos/libros/catalogo/catalogo-6-4.jpg");
	background-size: cover;
}

.no-webp #cata6p5 {
	background-image: url("../fotos/libros/catalogo/catalogo-6-5.jpg");
	background-size: cover;
}

.no-webp #cata6p6 {
	background-image: url("../fotos/libros/catalogo/catalogo-6-6.jpg");
	background-size: cover;
}

.no-webp #cata6p7 {
	background-image: url("../fotos/libros/catalogo/catalogo-6-7.jpg");
	background-size: cover;
}

.no-webp #cata6p8 {
	background-image: url("../fotos/libros/catalogo/catalogo-6-8.jpg");
	background-size: cover;
}


.no-webp #cata7p1 {
	background-image: url("../fotos/libros/catalogo/catalogo-7-1.jpg");
	background-size: cover;
}

.no-webp #cata7p2 {
	background-image: url("../fotos/libros/catalogo/catalogo-7-2.jpg");
	background-size: cover;
}

.no-webp #cata7p3 {
	background-image: url("../fotos/libros/catalogo/catalogo-7-3.jpg");
	background-size: cover;
}




