
@font-face {
  font-family: 'gmfont';
  src: url('gmfont.eot?#iefix') format('embedded-opentype'),  url('gmfont.woff') format('woff'), url('gmfont.ttf')  format('truetype'), url('gmfont.svg#gmfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
